<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="ru.specialist.java.spring.xml.Computer" id="computer" autowire="constructor">
        <property name="cpu" ref="amdCPU"/>
        <property name="screen" >
            <bean class="ru.specialist.java.spring.xml.device.screen.impl.ToshibaScreen"/>
        </property>
        <property name="storageList">
            <list>
                <bean class="ru.specialist.java.spring.xml.device.storage.impl.SonyStorage"/>
                <bean class="ru.specialist.java.spring.xml.device.storage.impl.ToshibaStorage"/>
            </list>
        </property>
        <property name="memoryList">
            <list>
                <bean class="ru.specialist.java.spring.xml.device.memory.impl.SonyMemory"/>
                <bean class="ru.specialist.java.spring.xml.device.memory.impl.SonyMemory"/>
                <bean class="ru.specialist.java.spring.xml.device.memory.impl.KingstonMemory"/>
            </list>
        </property>
    </bean>

    <import resource="memory.xml"/>
    <import resource="storage.xml"/>

    <bean id="amdCPU" class="ru.specialist.java.spring.xml.device.cpu.impl.AmdCpu"/>
    <bean id="intelCPU" class="ru.specialist.java.spring.xml.device.cpu.impl.IntelCPU"/>
    <bean id="toshibaScreen" class="ru.specialist.java.spring.xml.device.screen.impl.ToshibaScreen"/>

    <!--    Static factory -->
    <bean id="staticFactoryCPU"
          class="ru.specialist.java.spring.xml.device.cpu.StaticCPUFactory"
          factory-method="createCPU">
        <constructor-arg name="name" value="AMD"/>
    </bean>

    <!--    Factory Method -->
    <bean id="cpuFactory" class="ru.specialist.java.spring.xml.device.cpu.CPUFactory"/>
    <bean id="factoryCPU"
          factory-bean="cpuFactory"
          factory-method="createCPU">
        <constructor-arg name="name" value="intel"/>
    </bean>


</beans>